
*{
  padding: 0;
  margin: 0;
}
.Home {
  padding: 10px;
}
.Home>h1{
  text-align: center;
}

.shoppingList{
  padding: 10px;
  padding-left: 20px;
}

.listItem{
  padding: 10px;
  border-bottom: 1px solid red;
}
.fa-times-circle{
  cursor: pointer;
}